.add-to-cart-button {
  position: fixed;
  left: 10px;
  bottom: 20px;
  background-color: #3880ff;
  color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
}

.counter {
  display: flex;
  align-items: center;
}

.counter ion-label {
  margin: 0 10px;
}

ion-thumbnail {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  overflow: hidden;
}

.product-name {
  font-size: 0.9rem; /* Texto más pequeño */
}

.counter {
  display: flex;
  align-items: center;
  gap: 8px;
}
.h1{
  text-align: center;
}  

.empty-cart-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinea el contenido al inicio verticalmente */
  text-align: center;
  height: 5%; /* Ocupa toda la altura de la pantalla */
  flex-direction: column; /* Coloca los elementos en una columna */
  padding: 10px;
  padding-top:10vh; /* Ajusta este valor para mover el contenido más abajo */
}


h1 {
  font-size: 24px; /* Ajusta el tamaño del texto principal */
  margin-bottom: 10px;
}

p {
  font-size: 16px; /* Ajusta el tamaño del texto secundario */
  margin-bottom: 20px;
}

ion-button {
  --border-radius: 20px; /* Estilo opcional para redondear el botón */
}
