<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>DSOPCs</ion-title>
      <ion-searchbar></ion-searchbar>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img
      alt="PC Cybertron gamer"
      src="https://c.shld.net/rpx/i/s/i/spin/10130172/prod_18899955412??hei=64&wid=64&qlt=50"
    />
    <ion-card-header>
      <ion-card-title>PC Cybertron gamer</ion-card-title>
      <ion-card-subtitle>Precio: $1.200.000 CLP </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Contiene Intel Core I7-8700 3.2GHz, 16GB DDR4, GeForce GTX 1060, 120GB SSD, 1TB HDD.</p>
      <ion-card-subtitle>Disponible: {{ product.stock }}</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
  
  <ion-button class="add-to-cart-button" (click)="addToCart()">Agregado al carrito</ion-button>

  <div class="counter-container">
    <ion-button color="light" (click)="decrement()" [disabled]="quantity <= 1">
      -
    </ion-button>
    <ion-label>{{ quantity }}</ion-label>
    <ion-button color="light" (click)="increment()" [disabled]="quantity >= product.stock">
      +
    </ion-button>
  </div>
</ion-content>
  <ion-footer>
  <ion-button class="boton" color="primary" (click)="ircarro()">ver el carro</ion-button>
  </ion-footer>