<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card class="olvido">
  <form>
      <ion-item>
        <ion-label position="floting">correo:</ion-label>
        <ion-input type="email" name="email" required></ion-input>
      </ion-item>
      <p></p>
      <ion-button type="submit" expand="block">recuperar Contraseña</ion-button>
        <p></p>
  </form>
</ion-card>
</ion-content>

<ion-footer>
  <ion-card> 
    <ion-button expand="block" routerLink="/inicio">Inicio de sesion</ion-button>
  </ion-card>
</ion-footer>
