.boton{
    text-align: center;
    background-color: aliceblue;
}

.cd{
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.vv{
   text-align: center; 
}
*{
    background-color: rgb(194, 234, 195);
}